<div class="mypage-main">
  <h2 class="form-header">マイページ</h2>

  <div class="field">
    <div class="field-name">名前(団体名)</div>
    <div class="mypage-field"><%= @user.name %></div>
  </div>

  <div class="field">
    <div class="field-name">電話番号</div>
    <div class="mypage-field"><%= @user.tel %></div>
  </div>

  <div class="field">
    <div class="field-name">Email</div>
    <div class="mypage-field"><%= @user.email %></div>
  </div>
  
  <div class="field">
    <div class="field-name">コメント</div>
    <div class="mypage-field"><%= @user.comment %></div>
  </div>

  <%= link_to 'ユーザー情報の編集', edit_user_registration_path(@user.id), class: "actions" %>
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "log-out" %>
  <%= link_to 'アカウントの削除', user_registration_path, method: :destroy, class: "delete-account" %>
  <%= link_to '戻る', root_path, class: "return" %>
</div>