<%= render "shared/header" %>
<div class="mypage-main">
  <h2 class="form-header">マイページ</h2>
  <ul class="field">
    <li class="field-name">名前(団体名)</li>
    <li class='mypage-field'><%= @user.name %></li>

    <li class="field-name">電話番号</li>
    <li class='mypage-field'><%= @user.tel %></li>

    <li class="field-name">Email</li>
    <li class='mypage-field'><%= @user.email %></li>

    <li class="field-name">コメント</li>
    <li class='mypage-field'><%= @user.comment %></li>
  </ul>
  
    <%= link_to 'ユーザー情報の編集', edit_user_registration_path(@user.id), class: 'actions' %>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'log-out' %>
    <%= link_to '戻る', root_path, class: 'return' %>
  </ul>
</div>