<%= render "shared/header" %>

<h1>トップページ(テスト)<h1>
<ul>
  <% if user_signed_in? %>
    <li><%= link_to "#{current_user.name}さんのマイページ", user_path(current_user.id) %></li>
    <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
  <% else %>
    <li><%= link_to 'ログイン', new_user_session_path %></li>
    <li><%= link_to '会員登録', new_user_registration_path %></li>
  <% end %>
</ul>