<h2>ログイン</h2>

<%= form_with model: @user, url: user_session_path, method: :post, local: true  do |f| %>
  <%= render "shared/error_messages", model: f.object %>

  Email
  <div class="field">
    <%= f.email_field 'email', placeholder:"PC・携帯どちらでも可" %>
  </div>

  パスワード
  <div class="field">
    <%= f.password_field 'password', placeholder:"半角英数字混合8文字以上" %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<%= link_to '戻る', root_path %>